# Lists

Sequencia de elementos mutáveis

In [1]:
# create an empty list
my_list = []

In [2]:
my_list.append(10)

In [3]:
my_list = [1, 3]

In [4]:
my_list

[1, 3]

In [5]:
my_list[0] = 20

In [6]:
my_list[1] = 'a'

In [7]:
my_list

[20, 'a']

In [8]:
my_list.append([1,2,3,4])

In [9]:
import os

# os is a package for tools of the `operating system`

In [10]:
os.sys.path

['C:\\Users\\josep\\Desktop\\IRONHACK\\LAB- 1 week 2',
 'C:\\Users\\josep\\anaconda3\\python37.zip',
 'C:\\Users\\josep\\anaconda3\\DLLs',
 'C:\\Users\\josep\\anaconda3\\lib',
 'C:\\Users\\josep\\anaconda3',
 '',
 'C:\\Users\\josep\\anaconda3\\lib\\site-packages',
 'C:\\Users\\josep\\anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\josep\\anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\josep\\anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\josep\\anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\josep\\.ipython']

In [11]:
os.sys.path.append('C:/Users/andreaguiar/Desktop/usr/dist')

In [12]:
os.sys.path.insert(0, '/Users/andreaguiar/Desktop/usr/dist/')

In [13]:
os.sys.path

['/Users/andreaguiar/Desktop/usr/dist/',
 'C:\\Users\\josep\\Desktop\\IRONHACK\\LAB- 1 week 2',
 'C:\\Users\\josep\\anaconda3\\python37.zip',
 'C:\\Users\\josep\\anaconda3\\DLLs',
 'C:\\Users\\josep\\anaconda3\\lib',
 'C:\\Users\\josep\\anaconda3',
 '',
 'C:\\Users\\josep\\anaconda3\\lib\\site-packages',
 'C:\\Users\\josep\\anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\josep\\anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\josep\\anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\josep\\anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\josep\\.ipython',
 'C:/Users/andreaguiar/Desktop/usr/dist']

In [14]:
os.listdir('C:/Users/andreaguiar/Desktop/Teste_Folder/')

FileNotFoundError: [WinError 3] O sistema não pode encontrar o caminho especificado: 'C:/Users/andreaguiar/Desktop/Teste_Folder/'

# List Comprehensions

## Loops with lists

In [15]:
my_list = []

In [16]:
my_list[0] = 3

IndexError: list assignment index out of range

In [17]:
# append is an 'inplace' operation (the list is updated under the hood)
my_list.append(5)

In [18]:
# my_list is now changed
my_list

[5]

In [19]:
my_list = []

for i in range(5):
    my_list.append(i)

In [20]:
my_list

[0, 1, 2, 3, 4]

In [21]:
new_list = []

new_list

[]

In [22]:
list(range(5))

[0, 1, 2, 3, 4]

In [25]:
new_list = []
for item in range(1000000):
    x = item * 2
    y = x**2
    new_list.append(y)
    
print(new_list)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

## Extra: tqdm

External package to visualize a loading bar in a `for loop`

In [24]:
# !pip install tqdm
# !pip3 install tqdm --user (windows users)

In [27]:
!pip3 install tqdm --user

Collecting tqdm
  Downloading https://files.pythonhosted.org/packages/af/88/7b0ea5fa8192d1733dea459a9e3059afc87819cb4072c43263f2ec7ab768/tqdm-4.48.0-py2.py3-none-any.whl (67kB)
Installing collected packages: tqdm
Successfully installed tqdm-4.48.0

  WARNING: The script tqdm.exe is installed in 'C:\Users\josep\AppData\Roaming\Python\Python38\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 19.2.3, however version 20.1.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [28]:
from tqdm.auto import tqdm

In [29]:
new_list = []

for item in tqdm(range(10000000), desc='Loading bar'):
    x = item * 2
    y = x**2
    new_list.append(y)

print(new_list[:100])

HBox(children=(FloatProgress(value=0.0, description='Loading bar', max=10000000.0, style=ProgressStyle(descrip…

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000, 10404, 10816, 11236, 11664, 12100, 12544, 12996, 13456, 13924, 14400, 14884, 15376, 15876, 16384, 16900, 17424, 17956, 18496, 19044, 19600, 20164, 20736, 21316, 21904, 22500, 23104, 23716, 24336, 24964, 25600, 26244, 26896, 27556, 28224, 28900, 29584, 30276, 30976, 31684, 32400, 33124, 33856, 34596, 35344, 36100, 36864, 37636, 38416, 39204]

## Comprehensions

Comprehensions are used for the same objective as the above. To create a new list. However, it has a different (more compact) syntax.

In [42]:
new_list = []

for item in range(10):
    print(new_list)
    new_list.append(item)

[]
[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [43]:
new_list = [ item for item in range(10) ]
new_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Operations inside comprehensions

In [44]:
new_list = []

for item in range(100):
    new_list.append(item ** 2)

In [45]:
new_list = [ item ** 2 for item in range(100) ]

### `if` conditions in comprehensions

In [46]:
new_list = []

for item in range(10):
    if item % 2 == 0:
        new_list.append(item)
        
print(new_list)

[0, 2, 4, 6, 8]

In [47]:
#parece que esta conversando com o computador. 



my_new_list = [ item for item in range(10) if item % 2 == 0 ]

In [48]:
new_list = []

for item in range(10):
    if item % 2 == 0:
        new_list.append(item ** 2)
        
print(new_list)

[0, 4, 16, 36, 64]

In [49]:
[banana ** 2 for banana in range(10) if banana % 2 == 0]

[0, 4, 16, 36, 64]

In [50]:
list_to_run = [5,3,8,2,5,0,3,6]

In [51]:
squared_items = []
for i in list_to_run:
    squared_items.append(i ** 2)
    
squared_items

[25, 9, 64, 4, 25, 0, 9, 36]

In [52]:
[x**2 for x in [5,3,8,2,5,0,3,6]]

[25, 9, 64, 4, 25, 0, 9, 36]

## Two `for` loops

In [53]:
list_of_lists = [[1,2,3,4], [5,6,7,8], [1,3,6,8]]
my_results = []

for item in list_of_lists:
    for another_item in item:
        if another_item > 5:    
            my_results.append(another_item)
#
print(my_results)

[6, 7, 8, 6, 8]

In [54]:
[another_item for item in lst_lst for another_item in item if another_item > 5]

NameError: name 'lst_lst' is not defined

## If-Else syntax in comprehensions

In [55]:
lst = []
for item in range(10):
    if item < 5:
        lst.append(0)
    else:
        lst.append(1)

lst

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

In [56]:
[(0 if item < 5 else 1) for item in range(10)]

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

In [57]:
[0 if item < 5 else 1 for item in range(10)]

[0, 0, 0, 0, 0, 1, 1, 1, 1, 1]

# Applications

In [58]:
os.listdir('data/')

FileNotFoundError: [WinError 3] O sistema não pode encontrar o caminho especificado: 'data/'

In [59]:
new_list = []
for file in os.listdir('data/'):
    new_list.append(file)

FileNotFoundError: [WinError 3] O sistema não pode encontrar o caminho especificado: 'data/'

## Using for loop

In [60]:
datasets = []

for file in os.listdir('data/'):
    if file.endswith('.csv'):
        datasets.append(pd.read_csv('data/' + file))

FileNotFoundError: [WinError 3] O sistema não pode encontrar o caminho especificado: 'data/'

## Using List Comprehensions

In [191]:
datasets = [ pd.read_csv('data/' + file) for file in os.listdir('data/') if file.endswith('.csv')]
datasets

[     instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
 0          1  2011-01-01       1   0     1        0        6           0
 1          2  2011-01-02       1   0     1        0        0           0
 2          3  2011-01-03       1   0     1        0        1           1
 3          4  2011-01-04       1   0     1        0        2           1
 4          5  2011-01-05       1   0     1        0        3           1
 ..       ...         ...     ...  ..   ...      ...      ...         ...
 726      727  2012-12-27       1   1    12        0        4           1
 727      728  2012-12-28       1   1    12        0        5           1
 728      729  2012-12-29       1   1    12        0        6           0
 729      730  2012-12-30       1   1    12        0        0           0
 730      731  2012-12-31       1   1    12        0        1           1

      weathersit      temp     atemp       hum  windspeed  casual  registered  \
 0             2  0.344167  0.363625  0.805833   0.160446     331         654
 1             2  0.363478  0.353739  0.696087   0.248539     131         670
 2             1  0.196364  0.189405  0.437273   0.248309     120        1229
 3             1  0.200000  0.212122  0.590435   0.160296     108        1454
 4             1  0.226957  0.229270  0.436957   0.186900      82        1518
 ..          ...       ...       ...       ...        ...     ...         ...
 726           2  0.254167  0.226642  0.652917   0.350133     247        1867
 727           2  0.253333  0.255046  0.590000   0.155471     644        2451
 728           2  0.253333  0.242400  0.752917   0.124383     159        1182
 729           1  0.255833  0.231700  0.483333   0.350754     364        1432
 730           2  0.215833  0.223487  0.577500   0.154846     439        2290

       cnt
 0     985
 1     801
 2    1349
 3    1562
 4    1600
 ..    ...
 726  2114
 727  3095
 728  1341
 729  1796
 730  2729

 [731 rows x 16 columns],
        instant      dteday  season  yr  mnth  hr  holiday  weekday  \
 0            1  2011-01-01       1   0     1   0        0        6
 1            2  2011-01-01       1   0     1   1        0        6
 2            3  2011-01-01       1   0     1   2        0        6
 3            4  2011-01-01       1   0     1   3        0        6
 4            5  2011-01-01       1   0     1   4        0        6
 ...        ...         ...     ...  ..   ...  ..      ...      ...
 17374    17375  2012-12-31       1   1    12  19        0        1
 17375    17376  2012-12-31       1   1    12  20        0        1
 17376    17377  2012-12-31       1   1    12  21        0        1
 17377    17378  2012-12-31       1   1    12  22        0        1
 17378    17379  2012-12-31       1   1    12  23        0        1

        workingday  weathersit  temp   atemp   hum  windspeed  casual  \
 0               0           1  0.24  0.2879  0.81     0.0000       3
 1               0           1  0.22  0.2727  0.80     0.0000       8
 2               0           1  0.22  0.2727  0.80     0.0000       5
 3               0           1  0.24  0.2879  0.75     0.0000       3
 4               0           1  0.24  0.2879  0.75     0.0000       0
 ...           ...         ...   ...     ...   ...        ...     ...
 17374           1           2  0.26  0.2576  0.60     0.1642      11
 17375           1           2  0.26  0.2576  0.60     0.1642       8
 17376           1           1  0.26  0.2576  0.60     0.1642       7
 17377           1           1  0.26  0.2727  0.56     0.1343      13
 17378           1           1  0.26  0.2727  0.65     0.1343      12

        registered  cnt
 0              13   16
 1              32   40
 2              27   32
 3              10   13
 4               1    1
 ...           ...  ...
 17374         108  119
 17375          81   89
 17376          83   90
 17377          48   61
 17378          37   49

 [17379 rows x 17 columns],
            Date  Calorie burned  Steps  Distance  Floors  Minutes Sedentary  \
 0    2015-05-08            1934    905      0.65       0              1.355
 1    2015-05-09            3631  18925     14.11       4            611.000
 2    2015-05-10            3204  14228     10.57       1            602.000
 3    2015-05-11            2673   6756      5.02       8            749.000
 4    2015-05-12            2495    502      3.73       1            876.000
 ..          ...             ...    ...       ...     ...                ...
 362  2016-05-03            3796  18588     14.13      16            599.000
 363  2016-05-04            3525  16382     12.39      16            684.000
 364  2016-05-05            3649  21913     16.40      19            701.000
 365  2016-05-06            3539  19023     14.79      15            575.000
 366  2016-05-07             304   9526      7.08       2            564.000

      Minutes Lightly Active  Minutes Fairly Active  Minutes Very Active  \
 0                        46                      0                    0
 1                       316                     61                   60
 2                       226                     14                   77
 3                       190                     23                    4
 4                       171                      0                    0
 ..                      ...                    ...                  ...
 362                     275                     49                   79
 363                     333                     10                   55
 364                     287                     29                   90
 365                     298                      8                   85
 366                     370                     13                   10

      Activity Calories  ...  Distance_miles       Days  Days_encoded  \
 0                 1680  ...        0.403891     Friday           4.0
 1                 2248  ...        8.767545   Saturday           5.0
 2                 1719  ...        6.567891     Sunday           6.0
 3                 9620  ...        3.119282     Monday           0.0
 4                 7360  ...        2.317714    Tuesday           1.0
 ..                 ...  ...             ...        ...           ...
 362                236  ...        8.779972    Tuesday           1.0
 363               2075  ...        7.698787  Wednesday           2.0
 364               2249  ...       10.190484   Thursday           3.0
 365               2112  ...        9.190077     Friday           4.0
 366               1604  ...        4.399307   Saturday           5.0

      Work_or_Weekend  Hours Sleep Sleep efficiency  Yesterday_sleep  \
 0                  1     6.400000        92.086331         0.000000
 1                  0     7.566667        92.464358         6.400000
 2                  0     6.450000        88.761468         7.566667
 3                  1     5.183333        88.857143         6.450000
 4                  1     6.783333        82.892057         5.183333
 ..               ...          ...              ...              ...
 362                1     6.283333        91.951220         5.233333
 363                1     6.766667        95.081967         6.283333
 364                1     4.666667        88.888889         6.766667
 365                1     6.166667        89.805825         4.666667
 366                0     8.366667        89.165187         6.166667

      Yesterday_sleep_efficiency  Months  Months_encoded
 0                      0.000000     May               5
 1                     92.086331     May               5
 2                     92.464358     May               5
 3                     88.761468     May               5
 4                     88.857143     May               5
 ..                          ...     ...             ...
 362                   90.229885     May               5
 363                   91.951220     May               5
 364                   95.081967     May               5
 365                   88.888889     May               5
 366                   89.805825     May               5

 [367 rows x 24 columns],
      PassengerId  Survived  Pclass  \
 0              1         0       3
 1              2         1       1
 2              3         1       3
 3              4         1       1
 4              5         0       3
 ..           ...       ...     ...
 886          887         0       2
 887          888         1       1
 888          889         0       3
 889          890         1       1
 890          891         0       3

                                                   Name     Sex   Age  SibSp  \
 0                              Braund, Mr. Owen Harris    male  22.0      1
 1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
 2                               Heikkinen, Miss. Laina  female  26.0      0
 3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
 4                             Allen, Mr. William Henry    male  35.0      0
 ..                                                 ...     ...   ...    ...
 886                              Montvila, Rev. Juozas    male  27.0      0
 887                       Graham, Miss. Margaret Edith  female  19.0      0
 888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
 889                              Behr, Mr. Karl Howell    male  26.0      0
 890                                Dooley, Mr. Patrick    male  32.0      0

      Parch            Ticket     Fare Cabin Embarked
 0        0         A/5 21171   7.2500   NaN        S
 1        0          PC 17599  71.2833   C85        C
 2        0  STON/O2. 3101282   7.9250   NaN        S
 3        0            113803  53.1000  C123        S
 4        0            373450   8.0500   NaN        S
 ..     ...               ...      ...   ...      ...
 886      0            211536  13.0000   NaN        S
 887      0            112053  30.0000   B42        S
 888      2        W./C. 6607  23.4500   NaN        S
 889      0            111369  30.0000  C148        C
 890      0            370376   7.7500   NaN        Q

 [891 rows x 12 columns],
      Pclass   Age  SibSp  Parch     Fare  Sex_male  Embarked_C  Embarked_Q  \
 0         3  22.0      1      0   7.2500         1           0           0
 1         1  38.0      1      0  71.2833         0           1           0
 2         3  26.0      0      0   7.9250         0           0           0
 3         1  35.0      1      0  53.1000         0           0           0
 4         3  35.0      0      0   8.0500         1           0           0
 ..      ...   ...    ...    ...      ...       ...         ...         ...
 707       3  39.0      0      5  29.1250         0           0           1
 708       2  27.0      0      0  13.0000         1           0           0
 709       1  19.0      0      0  30.0000         0           0           0
 710       1  26.0      0      0  30.0000         1           1           0
 711       3  32.0      0      0   7.7500         1           0           1

      Embarked_S  Survived
 0             1         0
 1             0         1
 2             1         1
 3             1         1
 4             1         0
 ..          ...       ...
 707           0         0
 708           1         0
 709           1         1
 710           0         1
 711           0         0

 [712 rows x 10 columns]]

In [192]:
len(datasets)

5

In [195]:
datasets[-2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q